
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #df87879d;
    padding: 5px 0;
    text-align: center;
    color: #651e1e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

main {
  background-color: #8b0000f5;
  padding: 5px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 200;
    padding: 7%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: slategrey;
}

div {
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 10px; 
    text-align: center;
}

.Contato {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Contato h1 {
    text-align: center;
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.Contato p {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #a52a2a;
}

footer {
    background-color: #8b000074;
    color: white;
    padding: 10px;
    text-align: center;
}

table {
    display: table;
    width: 80%; 
    border-collapse: separate; 
    margin: 0 auto; 
    font-size: 18px; 
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px; 
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  th {
    background-color: #e82e2e; 
    font-weight: bold; 
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  } 
  
  tr:hover {
    background-color: #de737379;
    cursor: pointer;
  }

  thead {
    background-color: #ba1c1c;
    color: rgb(20, 8, 8);
  }

  .Cardápio h2 {
    text-align: center;
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .Cardápio h3 {
    text-align: center; 
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .home h1 {
    text-align: center;
    color: #8B0000;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .home p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .home h2 {
    text-align: end;
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .home h3 {
    text-align: end;
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .sobre h2 {
    text-align: center;
    color: #8B0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .sobre p {
    text-align: justify;
    padding: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.image-container {
    text-align: center; /* Opcional: centraliza as imagens horizontalmente */
}

.image-container img {
    display: inline-block;
    width: 15%; /* Ajuste a largura das imagens conforme necessário */
    margin: 10px; /* Espaçamento entre as imagens */
    vertical-align: middle;
}

.galeria h1 {
  text-align: center;
  color: #8B0000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.galeria p {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.informacoes h1 {
  text-align: center;
  color: #8B0000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.informacoes p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

